#footer {
    background-color: #2E2F42;
}
.footer-logo {
color: #ffffff;
font-family: "Raleway", sans-serif;
font-weight: 700;
line-height: 1.17;
font-size: 18px;
letter-spacing: 0.54px;
text-decoration: none;
text-transform: uppercase;
}
.footer-logo span {
    color: #4D5AE5;
}
.footer-text{
    font-size: 16;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #f4f4fd
}